# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/

# OS
.DS_Store
.Trashes

# Design bundle cache
.claude/
